header.header-wrapper {
    position: fixed;
    width: 100%;
    min-height: 5rem;
    background-color: transparent;
    z-index: 999;
    transition: all .5s ease-in-out;
    padding-bottom: 1.5rem;
}

.head_line_wrapper {
    position: relative;
}

img.head-line {
    width: 100%;
    height: .25rem;
    position: absolute;
    top: 0;
    left: 0;
}

.logo_wrapper {
    position: relative;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 1.5rem;
}

.cleverse-container {
    width: 87.5%;
    max-width: 72rem;
    margin: auto;
}

.logo_container {
    max-width: 15rem;
    position: relative;
}

.logo_container img {
    position: relative;
    width: 100%;
    height: auto;
}

.logo-mobile {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .show_mobile {
        display: block;
    }
}

@media only screen and (max-width: 1024px) {
    .hide_mobile {
        display: none;
    }
    ul {
        display: none;
    }
}

.menu-icon {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 6rem;
    white-space: nowrap;
}

.menu-icon i {
    color: #fff;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.menu-icon .menu-ham-icon {
    color: #000;
    background-color: #f8f900;
    padding: .5rem;
    margin-left: 1rem;
}

@media (max-width: 768px) {
    .logo_wrapper {
        position: relative;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding-top: 1.5rem;
    }
    .menu-icon .menu-ham-icon {
        color: #fff;
        background-color: transparent;
        padding: .5rem;
        margin-left: 1rem;
    }
    .logo-mobile img {
        position: relative;
        width: 160px;
        height: 39.17px;
    }
}

.menu-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
}

.cleverse-nav__container-wrapper {
    margin-top: 1rem;
}

li {
    display: inline;
}

li a {
    padding-left: 2rem;
    padding-right: 2rem;
    color: #ffffff;
}

li a:hover {
    color: #ffffff;
}

li a.dropdown {
    padding-left: 0;
}

li a.right-dropdown {
    padding-right: 1rem;
}

a:link {
    text-decoration: none;
}

.red-live {
    background-color: red;
    color: #fff;
    border-radius: 2rem;
    padding: .25rem;
    padding-left: .75rem;
    padding-right: .75rem;
    align-items: center;
    display: inline-flex;
    vertical-align: middle;
}

.red-live:before {
    content: "";
    margin-right: .25rem;
    background: #fff;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.red-live:after {
    font-size: .75rem;
    letter-spacing: .05rem;
    content: "LIVE";
}

.dropdown-toggle:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.box1 {
    min-width: 100%;
    min-height: 184px;
    color: #fff;
    background-color: #007bff;
    border-radius: 10px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.space {
    margin-top: 10rem;
}

.crop-slide {
    width: 100%;
    margin: -5.875% 0;
}

.mb-crop-slide {
    margin: 0 -50.985%;
    width: 202.777%;
}

.cleverse-v-space {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cleverse-rounded {
    border-radius: .75rem;
    overflow: hidden;
}

.cleverse-all-color-black *,
.cleverse-all-color-black:hover,
.cleverse-all-color-black:hover * {
    color: #0d1c2d;
    text-decoration: none!important;
}

.video-program__outer {
    padding-top: 56.5%;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.btn-play1 {
    width: 100%;
    max-width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.figure-img {
    margin-bottom: .5rem;
    line-height: 1;
}

.cleverse-rounded {
    border-radius: .75rem;
    overflow: hidden;
}

.figure-caption {
    font-size: 90%;
    color: #6c757d;
}

.video-program__outer img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.clevrse-btn {
    width: 100%;
    line-height: 4rem;
    background-color: #f9f9f9;
    text-align: center;
    color: #df2759;
    display: block;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-wrapper img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    object-position: center center;
}

.cleverse-banner-section {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}

.cleverse-banner-section img {
    width: 100%;
    margin: -29rem 0 0;
}

.test2 {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.test {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center bottom;
}

.card_highlight-title {
    background: #fff;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.card_highlight-img {
    margin: 5%;
    box-shadow: 0 1.25rem 0.75rem -0.5rem #cececed4;
    border: 1px solid rgba(0, 0, 0, .1);
}

.card_highlight-img img {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    object-position: center center;
}

.cleverse-rounded {
    border-radius: .75rem;
    overflow: hidden;
}

.btn-slide {
    background-color: transparent;
    border: transparent;
}

.icon-back {
    font-size: 3rem;
    line-height: .75em;
    height: 3rem;
    display: block;
    color: #212529;
}

.dot {
    position: absolute;
    top: 50%;
    height: 48px;
    width: 48px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(0, -129%);
    box-shadow: 0 0.5rem 1rem #00000057;
}