img.head-line {
    width: 100%;
    height: .25rem;
    position: absolute;
    top: 0;
    left: 0;
}

.cleverse-container {
    width: 87.5%;
    max-width: 72rem;
    margin: auto;
}

.logo_wrapper {
    position: relative;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 1.5rem;
}

.menu-icon {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 6rem;
    white-space: nowrap;
}

.menu-ham-icon {
    color: #000;
    background-color: #f8f900;
    padding: .5rem;
    margin-left: 1rem;
}

.cleverse-nav__container-wrapper li {
    padding-left: 2rem;
    padding-right: 2rem;
}

.menu-color {
    color: #fff;
}

li.nav-item {}